@font-face {
  font-family: "raleway";
  src: local("./font/raleway-italic-variablefont_wght-webfont.woff2") format("woff2"), url("fonts/raleway-italic-variablefont_wght-webfont.woff") format("woff");
  
}

@font-face {
  font-family: "raleway";
  src: local("./font/raleway-variablefont_wght-webfont.woff2") format("woff2"), url("raleway-variablefont_wght-webfont.woff") format("woff");
  
}

body {
  font-family: "ralewaythin", sans-serif;
  margin: 0;
  padding: 10px 65px 10px 65px;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  padding-right: 45px;
}

.navbar {
  width: 37%;
}
.navbar ul {
  margin-left: 1px;
}

.ancre {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.lien1 {
  color:#0065fc;
}
.lien2 {
  color:grey;
}
.lien3 {
  color:#0065fc;
  font-weight: bold;
}
h4 {
  color: grey; 
}

i.fas.fa-map-marker-alt {
  background-color: #deebff;
  width: 50px;
  height: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  line-height: 50px;
  flex-shrink: 0;
}
input::placeholder {
  
  font-size: 20px;
  font-weight: bold;
}

.champ {
  width: 100%;
  border: none;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  padding-left: 10px;
}

.barre {
  max-width: 420px;
  height: 50px;
  border-radius: 10px;
  display: flex;
}

.bouton_recherche {
  background-color: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: white;
  flex-shrink: 0;
  border: none;
}

.champ {
  width: 100%;
  border: none;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  padding-left: 10px;
}

.champ::placeholder {
  color: #000000;
  font-weight: 500;
}

.bouton_recherche:hover {
  background-color: #f2f2f2;
  color: #000000;
}

#texte_bouton {
  display: block;
}

.bouton_recherche i {
  display: none;
}

div.selection {
  display: flex;
  align-items: center;
}

/*#filtres {
    margin-right: 20px;
  }*/

#block_filtre {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

.bouton_filtres {
  padding: 0;
  padding-right: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  margin-right: 20px;
  border: solid 1px #efefef;
  background-color: transparent;
}

.bouton_filtres>i {
  font-size: 16px;
  margin-top: 7px;
}

.bouton_filtres:hover {
  background-color: #deebff;
}

.texte_bouton {
  padding-left: 10px;
}

.filterIcon {
  width: 46px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 45%;
  background-color: #deebff;
  color: #0065fc;
  text-align: center;
}
.bouton1 {
  
}
.bouton2 {
  
}
.information>i {
  color: red;
}

::selection {
  display: flex;
  flex-direction: row;
}

.bloc_filtres {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}

#filtre {
  margin-right: 20px;
  padding-bottom: 20px;
}

.boutons {
  margin-top: 6px;
}

.information {
  display: flex;
  flex-direction: row;
}

i.fas.fa-info-circle {
  width: 25px;
  height: 45px;
  margin-right: 5px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
}

.dispo {
  color: grey;
}

#principale {
  display: flex;
  
}

#hebergement {
  min-height: 686px;
  width: 65%;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.hotel {
  margin-left: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 50px;
}

.titre_hebergement {
  margin-top: 28px;
  margin-bottom: 10px;
  margin-left: 35px;
  flex-direction: row;
}

.hebergement_marseille {
  background-color: white;
  width: 242px;
  border-radius: 22px;
  box-shadow: 3px 4px 3px 1px grey;
  padding: 3px 2px 2px 6px;
  
}

.img_marseille {
  width: 200px;
  height: 114px;
  
  margin-top: 2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.img_hebergement {
  width: 238px;
  height: 114px;
  margin: auto;
  margin-top: 2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.text_hebergement {
  padding-right: 30px;
  padding-left: 20px;
}

.text_hebergement > h4 {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 8px;
}

.étoile{
  margin-top: 8px;
}
.titre_hebergement2 {
  margin :1px;
}
/* 
.note_étoile1 :nth-child(-n + 4) {
  color: blue;
}
.note_étoile2 :nth-child(-n + 5) {
  color: blue;
}
.note_étoile3 :nth-child(-n + 4) {
  color: blue;
}
.note_étoile4 :nth-child(-n + 3) {
  color: blue;
}
.note_étoile5 :nth-child(-n + 4) {
  color: blue;
}
.note_étoile6 :nth-child(-n + 5) {
  color: blue;
}
.i.fas.fa-star {
  color: thistle;
}*/

#populaires {
  width: 33%;
  margin-left: 25px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 15px;
  margin-left: 30px;
}

.titre_populaires {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  
  
}

.titre_populaires i {
  margin-top: 25px;
  font-size: 22px;
}

.chambre {
  margin-bottom: 30px;
  padding: 15px;
}

.les_plus_populaires {
  background-color: white;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  height: 146px;
  max-width: 404px;
  width: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 30px;
}

.image {
  width: 128px;
  height: 136px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.images_popu {
  width: 128px;
  height: 136px;
  float: left;
  margin: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.block_texte {
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 20px;
  position: relative;
}

.block_texte h2 {
  margin-bottom: 7px;
}

.block_texte p {
  margin-top: 7px;
  margin-bottom: 14px;
}

.notation {
  color: #d9d9d9;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
  position: absolute;
  bottom: 0px;
}

.note {
  color: #0065fc;
}

.block_texte > h4 {
  margin: 0;
  padding-bottom: 10px;
}

/*---------- ACTIVITES A MARSEILLE -------------*/

.activites_marseille {
  font-weight: bold;
}

#activites {
  list-style: none;
  padding-inline-start: 0;
  width: 100%;
  display: grid;
  grid-template-areas:
    "image1 image2 image4 image5"
    "image1 image2 image4 image8"
    "image1 image7 image4 image6"
    "image1 image3 image4 image6";
  grid-auto-rows: 165px 45px 45px 165px;
  grid-column-gap: 40px;
}

#A1 {
  grid-area: image1;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#A2 {
  grid-area: image2;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#A3 {
  grid-area: image3;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#A4 {
  grid-area: image4;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#A5 {
  grid-area: image5;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#A6 {
  grid-area: image6;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.P1 {
  width: 100%;
  height: calc(100% - 50px);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

div.P1 > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.texte_activites h4 {
  align-items: center;
  margin: 10px;
}

.footeur {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  
}

.texte_activites {
  height: 50px;
  justify-items: center;
}



.nos_hebergements {
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Assistance {
  padding: 10px 30px 10px 30px;
  height: 220px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.A_propos {
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer  section.pied_de_pages  ul {
  list-style: none;
}

footer section ul li a.foot {
  color: #000000;
}
