* {
  font-family: "raleway", serif;
}
body {
  padding: 0;
  margin: 0;
}
.main1 {
  margin-left: 35px;
}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  height: 70px;
}
.logo {
  margin-right: auto;
  padding: 12 2 0 0rem;
  height: 2.813rem;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  
}
nav ul li {
  display: flex;
  align-items: center;
  padding: 0 50px;
  
}
ul li a {
  text-decoration: none;
  font-size: 15px;
  
}
.traitbleu {
  color: #0065fc;
  border-top:#0065fc solid 3px ;
}
.hebergement_color {
  color: #0065fc;
}
.activity {
  color:inherit;
}
.inscrire {
  color: #0065fc;
  text-decoration: none;
  font-weight: 600;
}

.register {
  display: flex;
  align-items: center;
  padding: 0 100px;
}
.titre1 {
  padding-bottom :5px;
  margin: 0;
}
.titre2 {
  color: grey;
  margin-top: 0;
}
i.fas.fa-map-marker-alt {
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  line-height: 50px;
  flex-shrink: 0;
}
input::placeholder {
  font-size: 20px;
  font-weight: bold;
}

.champ {
  width: 100%;
  border: none;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  padding-left: 10px;
}
.barre {
  max-width: 420px;
  height: 50px;
  border-radius: 10px;
  display: flex;
}

.bouton_recherche {
  background-color: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: white;
  flex-shrink: 0;
  border: none;
}
.champ::placeholder {
  font-weight: bold;
}

.bouton_recherche:hover {
  background-color: #f2f2f2;
  color: #000000;
}

#texte_bouton_recherche::after {
  content: "Rechercher";
  font-size: large;
}

.bouton_recherche i {
  display: none;
}
div.selection {
  display: flex;
  align-items: center;
}
.bloc_filtres {
  display: flex;
  justify-content: space-between;
}
#filtre {
  margin: 0;
  padding-top:16px;
}
#block_filtre {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
#filtre {
  font-size: 20px;
  margin: 0 2rem 1rem 0;
  display: flex;
  justify-content: right;
}

.bouton_filtres {
  padding: 0;
  padding-right: 20px;
  border-radius: 49px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 2px solid  #efefef;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  margin-right: 20px;
  
}
.bouton_filtres > i {
  font-size: 14px;
  border-radius: 48%;
}

.bouton_filtres:hover {
  background-color: #deebff;
}

.texte_bouton {
  display: block;
  padding-left: 10px;
  object-fit: cover;
  font-size: 20px;
}

.filterIcon {
  width: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 38%;

  background-color: #deebff;
  color: #0065fc;
  text-align: center;
}
.bloc_filtres {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
#filtre {
  margin-right: 60px;
  padding-bottom: 20px;
}
.information {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.dispo {
  margin: 0;
}
.infoicon {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
#principale {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap:50px;
}
#hebergement {
  height: 686px;
  width: 60%;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  
}
.titre_hebergement {
  margin-top: 28px;
  margin-bottom: 10px;
  padding-left: 80px;
}
.hotel {
  margin-left: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 50px;
  
}

.hebergement_marseille {
  background-color: white;
  width: 262px;
  border-radius: 28px;
  box-shadow: 2px 2px 3px 2px grey;
  padding: 2px 2px 2px 6px;
  margin: auto;
  
}
.img_hebergement {
  width: 260px;
  height: 120px;
  margin-top: 2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.text_hebergement {
  padding-right: 30px;
  padding-left: 20px;
}

.text_hebergement > h4 {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 8px;
 font-weight: bold;
}
.étoile {
  margin-top: 10px;
}

.titre_hebergement2 {
  margin: 20px;
  padding-left: 65px;
}
#principale {
  display: flex;
  margin-bottom: 25px;
}

.hotel {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 40px;
}

.étoile{
  margin-top: 8px;
}
#populaires {
  width: 32%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px;
  margin-left: 58px;
  margin-right: 2px;
  
}

.titre_populaires {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.titre_populaires i {
  margin-top: 25px;
  font-size: 22px;
}

.chambre {
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
}

.les_plus_populaires {
  background-color: white;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  height: 146px;
  max-width: 404px;
  width: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 30px;
}

.image {
  width: 128px;
  height: 136px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.images_popu {
  width: 128px;
  height: 136px;
  float: left;
  margin: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.block_texte {
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 20px;
  position: relative;
}

.block_texte h2 {
  margin-bottom: 7px;
}

.block_texte p {
  margin-top: 7px;
  margin-bottom: 14px;
}

.notation {
  color: #d9d9d9;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
  position: absolute;
  bottom: 0px;
}

.note {
  color: #0065fc;
}

.block_texte > h4 {
  margin: 0;
  padding-bottom: 10px;
}
.titre_hebergement2 h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.activites_marseille h1 {
  margin: 0;
  margin-top: 80px;
  font-size: 30px;
  padding-left: 35px;
}

/*---------- ACTIVITES A MARSEILLE -------------*/

#activites {
  margin-top: 25px;
  list-style: none;
  padding: 0;
  margin-right: 3.8vw;
  display: grid;
  grid-template-areas:
    "image1 image2 image4 image5"
    "image1 image2 image4 image5"
    "image1 image2 image4 image6"
    "image1 image3 image4 image6";
  grid-auto-rows: 200px 50px 30px 200px;
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}

#A1 {
  grid-area: image1;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  margin-left: 35px;
}

#A2 {
  grid-area: image2;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
}

#A3 {
  grid-area: image3;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
}

#A4 {
  grid-area: image4;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
}

#A5 {
  grid-area: image5;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
}

#A6 {
  grid-area: image6;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
}

.P1 {
  width: 100%;
  height: calc(100% - 50px);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

div.P1 > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.texte_activites h4 {
  margin: 15px 0px 25px 30px;
  font-family: "raleway", serif;
  color: black;
  font-weight: bold;
}

.texte_activites {
  height: 50px;
  justify-items: center;
}
footer {
  background-color: #f2f2f2;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  
}

footer section.pied_de_pages ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 20px;
}

footer section ul li a.foot {
  color: #000000;
  
}

.titre_hebergement2 h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.activites_marseille h1 {
  margin: 0;
  margin-top: 80px;
  font-size: 30px;
}

footer p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 1024px) {
  
  .header {
    display: block;
    position: relative;
    height: auto;
  }
  .header .register {
    position: absolute;
    top: 20px;
    right: 35px;
    padding: 0;
    margin-top: 8px;
    
  }
  .header nav ul {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .main1 {
    width:none;
    margin-left: 5px;
  }
  .activity {
    padding-top: 1px;
  }
  .traitbleu {
    color: #0065fc;
    border-bottom:#0065fc solid 3px ;
    border-top: none;
  }
  .traittransparent {
    color: grey;
    border-bottom: grey solid 3px;
    border-top: none;
    opacity: 0.5;
    width: auto;
  }
  .titre1 {
    text-align: justify;
    margin: 8px 8px;
    font-size: 22px;
  }
  #texte_bouton_recherche::after {
    font-family: "material-icons";
    content: "loop";
  }
  .barre{
    width: 93%;
    max-width: none;
  }
  .titre {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .titre .titre1 {
    font-size: 24px;
    text-align: center;
    padding-right: 30px;
  }
  .titre .titre2{
    padding-left: 5px;
    font-size: 15px;
    padding-right: 50px;
  }
@font-face {
  font-family: 'material-icons';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v14/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}
#filtre {
 margin-right:60px ;
  padding-bottom: 0px;
  display: flex;
  justify-content: flex-start;
}
.filterIcon {
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 26%;
  background-color: #deebff;
  color: #0065fc;
}
.bloc_filtres {
  list-style: none;
  display: grid;
  margin: 5px;
}
#bloc_filtre {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.bouton_responsive {
  padding-bottom:10px;
}
.section3 {
  display: grid;
  grid-template-rows: auto;

}
.information i {

}
/* -----footer------- */
footer {

  display: flex;
  flex-direction: column;
  }
.titre1 {
  font-size: 16px;
}
.titre2 {
  font-size:14px;
}
footer p {
  font-size: 14px;
}
