@font-face {
  font-family: "ralewaythin_italic";
  src: url("fonts/raleway-italic-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("fonts/raleway-italic-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ralewaythin";
  src: url("raleway-variablefont_wght-webfont.woff2") format("woff2"),
    url("raleway-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "ralewaythin", sans-serif;
  padding: 0px;
}

.header {
  height: 80px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  padding-right: 45px;
}

.navbar {
  width: 40%;
}
.ancre {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
h3 {
  color: grey;
}
i.fas.fa-map-marker-alt {
  background-color: #deebff;
  width: 50px;
  height: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  line-height: 50px;
  flex-shrink: 0;
}
.champ {
  width: 100%;
  border: none;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  padding-left: 10px;
}
.barre {
  max-width: 420px;
  height: 50px;
  border-radius: 10px;
  display: flex;
}
.bouton_recherche {
  background-color: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: white;
  flex-shrink: 0;
  border: none;
}
.champ {
  width: 100%;
  border: none;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  padding-left: 10px;
}
.champ::placeholder {
  color: #000000;
  font-weight: 500;
}

.bouton_recherche:hover {
  background-color: #f2f2f2;
  color: #000000;
}
#texte_bouton {
  display: block;
}

.bouton_recherche i {
  display: none;
}
div.selection {
  display: flex;
  align-items: center;
}

/*#filtres {
    margin-right: 20px;
  }*/

#block_filtre {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

.bouton_filtres {
  padding: 0;
  padding-right: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  margin-right: 20px;
  border: solid 1px #efefef;
  background-color: transparent;
}

.bouton_filtres:hover {
  background-color: #deebff;
}

.texte_bouton {
  padding-left: 10px;
}

.filterIcon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  line-height: 46px;
  text-align: center;
}
::selection {
  display: flex;
  flex-direction: row;
}
.bloc_filtres {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
#filtre {
  margin-right: 20px;
  padding-bottom: 20px;
}
.boutons {
  margin-top: 6px;
}
.information {
  display: flex;
  flex-direction: row;
}
i.fas.fa-info-circle {
  width: 25px;
  height: 45px;
  margin-right: 5px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
}
.dispo {
  color: grey;
}
#principale {
  display: flex;
  flex-direction:row;

  
}

#hebergement {
  min-height: 686px;
  width: 900px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  
}
.titre_hebergement {
  margin-top: 20px;
  margin-left: 35px;
  flex-direction: row;
}

.hebergement_marseille {
  background-color: white;
  width: 246px;
  max-height: 200px;
  margin: auto;
  border-radius: 25px;
  box-shadow: 3px 4px 3px 1px grey;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.img_marseille {
  width: 238px;
  height: 114px;
  margin: auto;
  margin-top: 2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.img_hebergement {
  width: 238px;
  height: 114px;
  margin: auto;
  margin-top: 2px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.text_hebergement {
  
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    
    flex-wrap: wrap;
  
 }
 /* 
.flash {
  font-size: small;
}
.note_étoile1 :nth-child(-n + 4) {
  color: blue;
}
.note_étoile2 :nth-child(-n + 5) {
  color: blue;
}
.note_étoile3 :nth-child(-n + 4) {
  color: blue;
}
.note_étoile4 :nth-child(-n + 3) {
  color: blue;
}
.note_étoile5 :nth-child(-n + 4) {
  color: blue;
}
.note_étoile6 :nth-child(-n + 5) {
  color: blue;
}
.i.fas.fa-star {
  color: thistle;
}*/

#populaires {
  min-width: 420px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 15px;
  margin-left: 30px;
}

.titre_populaires {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction:flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

.titre_populaires i {
  margin-top: 30px;
}

.chambre {
  margin-bottom: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 15px;
}
.les_plus_populaires {
  background-color: white;
  box-shadow: 3px 4px 3px 1px rgb(212, 209, 209);
  height: 146px;
  max-width: 404px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 10px;
}

.image {
  width: 128px;
  height: 136px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.images_popu {
  width: 128px;
  height: 136px;
  float: left;
  margin: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.block_texte {
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.block_texte h2 {
  margin-bottom: 7px;
}

.block_texte p {
  margin-top: 7px;
  margin-bottom: 14px;
}
.notation {
  color: #d9d9d9;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
}

.note {
  color: #0065fc;
}
