* {
  font-family: "raleway", serif;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  max-width: 1680px;
  margin: 0;

}
.main1 {
  margin-left: 35px;
  max-width: 1640px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;

}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  height: 70px;
  max-width: 1700px;
}
.logo {
  margin-right: auto;
  padding: 12 2 0 0rem;
  height: 2.813rem;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}
nav ul li {
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.section3 ul li a {
  text-decoration: none;
  font-size: 15px;
}
.tiret{
    border-top:  3px solid transparent;
}
.traitbleu {
  color: #0065fc;
  border-top: #0065fc solid 3px;

}
.hebergement_color  {
  color: #0065fc;
}

.activity {
  color: inherit;
  
}
.inscrire {
  color: #0065fc;
  text-decoration: none;
  font-weight: 600;
}

.register {
  display: flex;
  align-items: center;
  padding-top:3px;
}
.titre1 {
  padding-bottom: 5px;
  margin: 0;
  font-size: 26px;
}
.titre2 {
  color: grey;
  margin-top: 0;
 font-size: 16px;
}
i.fas.fa-map-marker-alt {
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  line-height: 50px;
  flex-shrink: 0;
}
input::placeholder {
  font-size: 20px;
  font-weight: bold;
}

.champ {
  width: 100%;
  border: none;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  padding-left: 10px;
}
.barre {
  max-width: 420px;
  height: 50px;
  border-radius: 10px;
  display: flex;
}

.bouton_recherche {
  background-color: #0065fc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 20px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: white;
  flex-shrink: 0;
  border: none;
}
.champ::placeholder {
  font-weight: bold;
}

.bouton_recherche:hover {
  background-color: #f2f2f2;
  color: #000000;
}

#texte_bouton_recherche::after {
  content: "Rechercher";
  font-size: large;
}

.texte_bouton {
  padding-left: 5px;
}
.bouton_recherche i {
  display: none;
}
div.selection {
  display: flex;
  align-items: center;
}
.bloc_filtres {
  display: flex;
  justify-content: space-between;
}
#filtre {
  margin: 0;
  padding-top: 16px;
}
#block_filtre {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  
}
#filtre {
  font-size: 20px;
  margin: 0 2rem 1rem 0;
  display: flex;
  justify-content: right;
}

.bouton_filtres {
  padding: 0;
  padding-right: 20px;
  border-radius: 49px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: 2px solid #efefef;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  margin-right: 20px;
}
.bouton_filtres > i {
  font-size: 14px;
  border-radius: 48%;
}

.bouton_filtres:hover {
  background-color: #deebff;
}

.texte_bouton {
  display: block;
  padding-left: 10px;
  object-fit: cover;
  font-size: 20px;
}

.filterIcon {
  width: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 100%;
  background-color: #deebff;
  color: #0065fc;
  text-align: center;
}
.bloc_filtres {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  
}
#block_filtre {
  padding-left: 0;
}
#filtre {
  margin-right: 60px;
  padding-bottom: 20px;
  margin-top: 15px;
}
.information {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.dispo {
  margin: 0;
  font-weight: normal;
}
.infoicon {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
#hebergement {
  
  width: 65%;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
#hebergements {
  font-size: x-large;
}
.titre_hebergement {
  margin-top: 12px;
  margin-bottom: 10px;
  padding-left: 40px;
}
.hotel {
  
  margin-right: 30px;
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}

.hebergement_marseille {
  background-color: white;
  width: 262px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 2px grey;
  padding: 2px 2px 2px 6px;
  margin: auto;
  box-shadow: 0 0 16px #0000002e;
}
.img_hebergement {
  width: 98%;
  height: 120px;
  margin-top: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 2px;
  object-fit: cover;
}

.text_hebergement {
  padding-right: 30px;
  padding-left: 20px;
}

.text_hebergement > h4 {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 8px;
  font-weight: bold;
  font-style: oblique;
  font-style: normal;
  font-family: 'raleway' 'bold 700' ;
  
}

.étoile {
  margin-top: 10px;
}

.titre_hebergement2 {
  margin: 20px;
  padding-left: 23px;
}
#principale {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 25px;
  justify-content: space-between;
}

.hotel {
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  position: relative;
  margin-top: 7px;
}


.étoile {
  margin-top: 8px;
}
#populaires {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px;
  margin-left: 10px;
 
}
.titrepopulaires {
font-size: x-large;
}
.titre_populaires {
 
  display: flex;
  justify-content: space-around;
}

.titre_populaires i {
  margin-top: 28px;
  font-size: x-large;
}

.chambre {
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.les_plus_populaires {
  background-color: white;
  
  height: 146px;
  max-width: 404px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 30px; 
  box-shadow: 0 0 16px #0000002e;
}

.image {
  width: 128px;
  height: 136px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.images_popu {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  margin: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  
}

.block_texte {
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 20px;
  position: relative;
}

.block_texte h2 {
  margin-bottom: 7px;
}

.block_texte p {
  margin-top: 7px;
  margin-bottom: 14px;
}

.notation {
  color: #d9d9d9;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 15px;
  position: absolute;
  bottom: 0px;
}

.note {
  color: #0065fc;
}

.block_texte > h1 {
  margin: 0;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: 'raleway' 'sans serif';
}
.titre_hebergement2 h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.activites_marseille h2 {
  margin: 0;
  margin-top: 80px;
  font-size: 30px;
  
}

/*---------- ACTIVITES A MARSEILLE -------------*/
.images_activite {
  object-fit: cover;
 
}
#activites {
  margin-top: 25px;
  list-style: none;
  padding: 0 !important;
  margin-right: 3.8vw;
  display: grid;
  grid-template-areas:
    "image1 image2 image4 image5"
    "image1 image2 image4 image5"
    "image1 image2 image4 image6"
    "image1 image3 image4 image6";
  grid-auto-rows: 200px 50px 30px 200px;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  grid-template-columns: 363px 363px 363px 363px;
}

#A1 {
  grid-area: image1;
  border-radius: 25px;
  
  object-fit: cover;
  box-shadow: 0 0 16px #0000002e;
}

#A2 {
  grid-area: image2;
  border-radius: 25px;
  
  object-fit: cover;
  box-shadow: 0 0 16px #0000002e;
}
#A3 {
  grid-area: image3;
  border-radius: 25px;
  
  object-fit: cover;
  box-shadow: 0 0 16px #0000002e;
}

#A4 {
  grid-area: image4;
  border-radius: 25px;
  
  object-fit: cover;
  box-shadow: 0 0 16px #0000002e;
}

#A5 {
  grid-area: image5;
  border-radius: 25px;
  
  object-fit: cover;
  box-shadow: 0 0 16px #0000002e;
}

#A6 {
  grid-area: image6;
  border-radius: 25px;
  
  object-fit: cover;
  box-shadow: 0 0 16px #0000002e;
}

.P1 {
  width: 100%;
  height: calc(100% - 50px);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;


}

div.P1 > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}

.texte_activites h4 {
  margin: 15px 0px 25px 30px;
  font-family: "raleway", serif;
  color: black;
  font-weight: bold;
  font-style: oblique;
}

.texte_activites {
  height: 50px;
  justify-items: center;

}
footer {
  background-color: #f2f2f2;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  grid-column-gap:180px;
  padding-left: 60px;
  max-width: 1740px;
  position: relative;
}

footer section.pied_de_pages ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 20px;
}

footer section ul li a.foot {
  color: #000000;
}

.titre_hebergement2 h2 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.activites_marseille h1 {
  margin: 0;
  margin-top: 80px;
  font-size: 30px;
}

footer p {
  margin: 0;
  margin-bottom: 10px;
  
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 1455px) and (min-width:1025px){
  .hotel {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
    margin-top: 7px;
    }
    .chambre {
      
      grid-row-gap: 85px;

    }
    #activites {
      grid-template-areas:
      "image1 image2 image3"
      "image4 image5 image6"
      ;
      
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template-columns: 310px 310px ;
    grid-template-rows: 12rem 12rem 12rem;
    margin-left: 30px;
    }  
    #A1 #A2 #A3 #A4 #A5 #A6 {
     height: 250px; 
      width: auto;
    }
  }

/* ----------------TABLETTES----------------- */
@media screen and (max-width: 1024px) and (min-width: 415px) {
   .header {
    display: flex;
    justify-content: space-evenly;
   }
   .main1 {
     padding:0;
     margin:0;
   }
   .logo {
    height: 3.513rem;
    margin:0;
  }
   .barre {
    margin: auto;
   }
   .titre1 {
    text-align: center;
   }
  .titre2 {
    text-align: center;
    margin: 10px;
  }
  #filtre {
    margin-left: 60px;
    margin-right: 0px;
  }
  .bloc_filtres {
    align-items:center ;
    
  }
  #block_filtre {
    padding-left: 15px;
 
    margin-bottom: 20px;
  }
  .bouton_filtres {
    margin-bottom: 20px;
  }
  .information {
    justify-content: center;
  }
  #principale {
    display: block;
    margin:0;
  }
  #hebergements {
    text-align: center;
    padding-bottom: 25px;
    font-size: 25px;
  }
  #hebergement {
    width: 100%;
    border-radius: 0;
    height: auto;
  }
  .hebergement_marseille {
    width: 310px;
    padding: 4px 2px 2px 8px;
    border-radius: 25px;
  }
  .titre_hebergement2 >h2 {
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
  }
  
  .hotel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  .titre_hebergement {
    margin-top: 28px;
    margin-bottom: 10px;
    padding-left: 35px;
  }
 #populaires {
  display: block;
  width: 100%;
  margin: 0;
margin-bottom: 40px;
border-radius: 0;
 }
 .main1 {
  margin: 0;
 }

.les_plus_populaires{
  max-width: 550px;
  width: 90%;
}
.images_popu {
  width: 250px;
  }
 .block_texte {
    padding-left: 140px;

  }
  .block_texte > h4 {
    font-size: 24px;
  }
  .activites_marseille h1 {
    padding-top: 25px;
    margin-top:0;
  }
  #activites {
    grid-template-areas:
    "image1 image2"
    "image3 image4"
    "image5 image6";
    
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-columns: 310px 310px ;
  grid-template-rows: 12rem 12rem 12rem;
  margin-left: 30px;
  }  
  #A1 #A2 #A3 #A4 #A5 #A6 {
   height: 250px; 
    width: auto;
  }
  .images_activite {
    object-fit: none;
    height: 35px;
  }
  #activitees {
    text-align: center;
    padding-bottom: 15px;
  }
  .texte_activites {
    height: 35px;
  }
  footer {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin:0;
    margin-top:25px;
    grid-column-gap:0px;

  }
  .foot {
    font-size: 14px;
  }
  footer p {
    font-size: 14px;
  }
  footer h2 {
    font-size: 18px;
  }
}
@media all and (device-width: 1024px) and (device-height:768px) and (orientation:landscape) {

  .inscrire {
    padding-bottom: 2px;
  }

  #filtre {
    margin-top:0;
  }
  #block_filtre {
    display: flex;
    flex-flow: row nowrap;
  }
  .bouton_filtres {
    padding-right: 2px;
  }
  .titre_populaires {
    padding-left:70px;

    }
    .titre_populaires i {
      padding-right: 70px;
    }
  
  #activites {
  grid-template-columns: 310px 310px;
  grid-column-gap:210px;
  margin-left: 95px;
  }
  .activites_marseille h1 {
   margin-top: 40px;
  }
  footer h2 {
    font-size: 16px;
  }
 .foot {
  font-size: 14px;
  }
  footer p {
  font-size: 14px;
  }
}

/* --------------PARTIE MOBILES----------------- */
@media screen and (max-width: 414px) {
  .header {
    display: block;
    position: relative;
    height: auto;
    
  }

  .logo {
    padding-left: 35px;
    margin-top: 6px;
  }

  .header .register {
    position: absolute;
    top: 15px;
    right: 35px;
    padding: 0;
    margin-top: 8px;
    font-weight: bold !important;
  }
  .header nav {
    margin-top: 30px;
    
  }
  .header nav ul {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .header nav ul li {
    width: 50%;
  }
  .main1 {
    width: none;
    margin: 0;
    padding: 0;
  }
  .activity {
    padding-top: 1px;
    color: black;
  }
  .traitbleu {
    color: #0065fc;
    padding-bottom: 10px;
    border-bottom: #0065fc solid 3px;
    border-top: none;
  }
  .traittransparent {
    color: grey;
    padding-bottom: 10px;
    border-bottom: grey solid 3px;
    border-top: none;
    opacity: 0.5;
    width: auto;
    
  }
  .titre1 {
    text-align: justify;
    margin: 8px 8px;
    font-size: 22px;
  }
  #texte_bouton_recherche::after {
    font-family: "material-icons";
    content: "search";
  }

  .champ {
    width: 60%;
  }

  .barre {
    width: 100%;
    padding-left: 35px;
   
  }
  .bouton_recherche {
    border-radius: 15px;
  }
  .titre {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .titre .titre1 {
    font-size: 24px;
    text-align: center;
    padding-right: 30px;
  }
  .titre .titre2 {
    padding-left: 5px;
    font-size: 15px;
    padding-right: 50px;
  }
  @font-face {
    font-family: "material-icons";
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v14/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2)
      format("woff2");
  }
  .bloc_filtres {
    padding-left: 0;
  }
  #filtre {
    margin-bottom: 15px;
  }
  .bouton_filtres {
    padding-right: 10px;
  }
  .infoicon {
    margin-left: 35px;
  }
  .dispo {
    padding-top: 15px;
  }
  #principale {
    display: block;
    margin: 0;
  }
  .hebergement_marseille {
    width: 100%;
    margin: 0;
    border-radius: 20px;
  }
 
  .img_hebergement {
    width: 99%;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    object-fit: cover;
  }
  .hotel {
    margin-right: 0;
  }
  #populaires {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
  }
  .titre_populaires {
    margin-top: 10px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
  }
  #hebergement {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    border-radius:auto;
    height: auto;
  }

  .titre_hebergement {
    margin-top: 28px;
    margin-bottom: 10px;
    padding-left: 15px;
  }

  .hebergement_marseille {
    background-color: white;
    width: 91%;
    border-radius: 28px;
    box-shadow: 2px 2px 3px 2px grey;
    padding: 2px 2px 2px 6px;
    margin: auto;
    margin-bottom: 20px;
  }

  .hotel {
    display: block;
    margin-left: 0px;
  }
  .titre_hebergement2 {
    padding-left: 3px;
  }
  #filtre {
    margin-right: 60px;
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-start;
  }
  .filterIcon {
    width: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 26%;
    background-color: #deebff;
    color: #0065fc;
  }
  .bloc_filtres {
    list-style: none;
    display: grid;
    margin-left: 35px;
    margin-right: 35px;
  }
  #bloc_filtre {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .bouton_responsive {
    padding-bottom: 10px;
    font-size: 15px;
  }

  .bouton_responsive:nth-child(2) {
    width: 90px;
  }
  .bouton_responsive:nth-child(1) {
    width: 190px;
  }
  .hebergements {
    text-align: center;
  }
  .activites_marseille h1 {
    margin-left: 20px;
  }
  .activites {
    display: block;
    
    
  }
  #activites {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  
  
  }
  

  #A1 #A2 #A3 #A4 #A5 #A6 {
    grid-area: none;
   margin: 0;
   
   margin: 0;
   height: 15px;
   width: 150px;
  }
 

  .images_activite {
    object-fit: none;
  }
  .P1 {
    width: 100%;
    height: 150px;
  
  }
  .texte_activites {
    font-size: 19px;
  }
  /* -----footer------- */
  footer {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
  }

  .titre1 {
    font-size: 13px;
  }
  .titre2 {
    font-size: 13px;

  }
  footer p {
    font-size: 16px;
  }
}
 